[submodule "modules/escape-pod-ui"]
	path = modules/escape-pod-ui
	url = https://github.com/froggitti/escape-pod-ui
	branch = master
[submodule "modules/escape-pod-arm-image-builder"]
	path = modules/escape-pod-arm-image-builder
	url = https://github.com/DDLbots/escape-pod-arm-image-builder
